.home-container {
  margin: auto;
  width: 90%;
  height: 100vh;
  overflow: scroll;
}

.home-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 150px;
}
