.login-container {
  @include flex-column();
  align-items: center;
  height: 50vh;
  justify-content: center;
  height: 100vh;
  p {
    color: white;
    font-size: 3.1rem;
    font-weight: 500;
    margin-left: 20px;
  }
  img {
    height: auto;
    width: 20%;
  }
  a {
    padding: 13px 0;
    font-size: 1.3rem;
    background-color: rgba(30, 215, 96, 255);
    border-radius: 25px;
    margin-top: 10px;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.log {
  @include flex-column();
  max-width: 450px;
}
