.header-container {
  @include flex-column();
  align-items: center;
  img {
    height: auto;
    width: 70px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  width: 130px;
  height: 100vh;
  background-color: black;
}

.nav-links {
  color: rgb(201, 201, 201);
  @include flex-column();
  justify-content: space-around;
  height: 100vh;
  li {
    @include flex-column();
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
}

.main-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}
