.mobile-nav-container {
  z-index: 100;
  width: 100vw;
  bottom: 0;
  position: fixed;
  background-color: black;
  @include flex-center();
  justify-content: space-between;
  .nav-mobiles {
    position: relative;
    padding: 20px;
    p {
      font-size: 0.8rem;
    }
    @include flex-column();
    align-items: center;
  }
}

.highlight {
  position: absolute;
  top: 0;
  background-color: $green;
  width: 100%;
  height: 5px;
  transition: all 0.3s ease-in-out;
}
